*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;

}
body{
    background: url(Spider.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 350px;
    padding: 20px;
    border: 2px solid #ece8eb;
    box-shadow: 0px 0px 10px rgb(110, 128, 90);
    border-radius: 10px;

}
p{
   color: rgb(6, 39, 48);
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;

}
input{
    width: 100%;
    height: 40px;
    margin-top: 10px;
    padding: 7px;
    outline: none;
    border: none;
    background-color:white;
}
button{
    border: none;
    padding: 7px;
    background-color: rgb(64, 193, 202);
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
h1{
    color: white;
}

